extend add_layout
block main
  != "<script type='text/javascript'>"
  != "var zip_code_list = {};"
  each row in zip_codes
    != "zip_code_list['" + row.zip_code + "'] = ['" + row.city + "','" + row.state + "'];"
  != "</script>"
  form(method="POST",action="add")
    label
      |Head First Name
      input(type="text",name="first_name")
    label
      |Head Last Name
      input(type="text",name="last_name")
    label
      |Head Date of Birth (mm/dd/yyyy)
      input(type="text",id="birthday",name="birthday",onBlur="validateDate('birthday')")
    label
      |Primary Phone Number
      input(type="text",name="phone")
    label
      |Phone Type
      select(id="phone_type",name="phone_type")
        each row in phone_types
          option(value="#{row.phone_type_id}")=row.phone_type_desc
    label
      |Street Address
      input(type="text",name="address")
    label
      |Zip Code
      select(id="zip",name="zip",onmouseup="getZipInfo(zip_code_list)")
        option(value="") Choose...
        each row in zip_codes
          option(value="#{row.zip_code}")= row.zip_code
    label
      |City:
      span(id="city")
    label
      |State:
      span(id="state")
    label
      |Date of Initial Contact (mm/dd/yyyy)
      input(type="text",id="initial_contact_date",name="initial_contact_date",onBlur="validateDate('initial_contact_date')")
    input(type="submit",value="Submit")