doctype 5
html
  head
    title Add a Record
    link(rel="stylesheet", type="text/css", href="/css/style.css")
    script(type="text/javascript", src="/js/add.js")
  body(onload="returnValue('#{family_id}')")
    div#search_main
      - if ((typeOf(family_id) == "undefined") || (parseInt(family_id) == "NaN")) {
        block main
      - }