doctype 5
html
  head
    title Love Inc. Database
    link(rel="stylesheet", type="text/css", href="/css/style.css")
    script(type="text/javascript", src="/js/index.js")
  body
    div#search_main
      block main
    div#search_footer
      block footer