extend view_edit_layout
block sidebar
  div#sidebar
    select(name='sort')
      option(value='ZIP',onclick='updateSort()')
      option(value='LastName',onclick='updateSort()')
      option(value='LastContact',onclick='updateSort()')
    select(name='familylist')
    for ($x = 0; $x < found.
block header

block infoblock

block familymembers

block phonenumbers

block contact

block assistance

block footer